# Default ignored files
/../../김윤진_60241180/.idea/shelf/
/../../김윤진_60241180/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../김윤진_60241180/.idea/httpRequests/
# Datasource local storage ignored files
/../../김윤진_60241180/.idea/dataSources/
/../../김윤진_60241180/.idea/dataSources.local.xml
